@charset "UTF-8";

* {
    margin: 0 auto;
    font-family: 'myriad';
    font-size: 1.0em;
    box-sizing: border-box;	
}

#wrap {
    width: 100%;
    height: 100%;
    background-color: #e5e0da;
    text-align: center;
    position: relative;
}

/* 모든 img 테두리 제거 */
img {
    border: 0;
    margin: 0;
}

hr {
    border-width: 1.2px 0 0 0;
    border-style: solid;
    border-color: #583b1f;
    margin-right: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #7e7b46;
}

h1 {
    margin-top: 30px;
    color: #7e7b46;
    font-size: 2.8em;
    margin-bottom: 30px;
}

/* 각 상품 항목 */
.wishItems {
    width: 80%;
    margin-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    color: #583b1f;
    /* table-layout: fixed; 테이블 레이아웃을 고정하여 셀 너비를 지정 가능하게 함 */
}

.itemImage {
    width: 20%; /* 이미지 셀 너비 설정 */
    text-align: center;
}

.wishItems td {
    padding: 10px;
}

/* 이미지 */
.supImg {
    width: 150px;
    height: 150px;
    border: 1px solid #7e7b46;
}

/* 버튼 아이콘 */
.deleteCartBtn,
.plusCartBtn {
    color: #583b1f;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    width: 100%; 
    text-align: center;
    font-size: 1.5em;
}

.fa-trash:hover, .fa-cart-plus:hover {
    color: #71543d; 
}


th {
    text-align: center;
    background: #eae6e1;
    padding : 5px;
}

.supDetail {
    text-align: left; 
    vertical-align: top;
}

.wishNo {
    width: 5%; 
}

.itemImage {
    min-width: 150px;
    height: 150px;
}

.wishIndex{
	width: 80%;
}

tbody tr td {
    padding-bottom: 15px;
}

.wishItems {
    border-spacing: 0 15px; /* thead tbody 사이 간격 */
}

thead{
	color: #583b1f;
}

table {
  border: collapse; 
  border-spacing: 0; 
} 

tbody:not(:first-of-type) tr:first-child td{
  border-top: 1px solid #583b1f; /* tbody 상단 경계선 */
  padding-top: 25px;
}

.wishContainer{
	padding-bottom: 30px;
}

.supPrice{
	width: 30%;
}