<section style="text-align: center;">
    <div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid {$point_color}; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
        <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
            <span style="font-size: 15px; margin: 0 0 10px 3px;">비타버디에 오신 것을 환영합니다</span><br />
            <span style="color: #a09d67">회원가입 이메일 인증코드</span> 입니다.
        </h1>
        <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
            안녕하세요. 비타버디에 가입해주셔서 진심으로 감사드립니다.<br />
            요청하신 이메일 인증코드가 생성되었습니다.<br />
            아래 <b style="color: #a09d67">인증 코드</b> 를 확인한 후, 비타버디 사이트에 입력해주세요. <br />
            감사합니다.
        </p>

        <p style="font-size: 16px; margin: 40px 5px 20px; line-height: 28px;">
            인증 코드 <br />
            <span style="font-size: 24px; color: #a09d67">{{code}}</span>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
        <div style="border-top: 1px solid #DDD; padding: 5px;">
            <p style="font-size: 13px; line-height: 21px; color: #555;">
                &copy; 2025 Vitabuddy. All rights reserved. <br />
            </p>
        </div>
    </div>
</section>