<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NaverMapper">

    <!-- 사용자 정보 삽입 -->
    <insert id="insertNaverMember" parameterType="com.example.vitabuddy.dto.NaverDTO">
        INSERT INTO naverusers (SocialId, UserName, UserEmail, Gender, BirthYear)
        VALUES (#{socialId}, #{userName}, #{userEmail}, #{gender}, #{birthYear})
    </insert>

    <select id="findBySocialId" parameterType="String" resultType="com.example.vitabuddy.dto.NaverDTO">
        SELECT * FROM naverusers WHERE SocialId = #{socialId}
    </select>


</mapper>
